<div class="column is-4">
    <div class="block homeblock">
    <h2>My personal profile</h2>
    
   
        <h4> Hi there <h4>👋

        ![ A picture of mine](/home/luana/Documentos/personalpic.jpg)

        <p>My name is Luana Oliveira and I am a physicist who works with data science. I am an undergraduate student at Universidade Virtual de São Paulo [(Univesp)](https://univesp.br/), currently on my first semester. I am interested in machine learning techniques and applications. <p>

        <h4> About me <h4>

        I always liked to study and always had a passion for exact sciences. In the middle of my final year in high school, in 2012, I was accepted in Universidade de Brasília [(UnB)](https://www.unb.br/) to attend a physics course. I graduated at the end of 2017, soon entering a master's program in the same university, with focus on cosmology and radioastronomy. At the same time I started working as a physics teacher in local public schools and so I remained for almost 4 years until I've decided to follow another career.

        <h4> An interesting story <h4>

        The year is 2020, a pandemic starts and we are all forced to stay home to protect ourselves and everybody else from this disease. During this reclusion time, I've decided to leave my master's program and pursue something that I've wanted to since the middle of undergrad: a career in computer science. I ended up moving to another state and becoming a student again. Now I study bachelor's in data science and I am very happy to say that I also work in the field.

        <h4> Another passion <h4>

        I live Brazil, so my native language is portuguese. Growing up I've always loved to unravel the misteries of other cultures, hence I started learning new languages to accomplish that. I speak fluently English, I attended a basic course of french in University, I've been studying german for 5 years (with some pauses along the way) and Japanese for almost a year now. I intend to go back to studying french soon and other languages in the future.

        <h4> What I am working on now.. <h4>

        I am working on data series analysis and cloud computing.

        <h4> About this Page <h4>

        Here I'll be sharing some of my creations (good or bad) and what I've been working on. 
    
    </div>
</div>
